/* custom.css */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede o scroll */
  height: 100%; /* Garante que a altura da página seja sempre 100% */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

#sidebar {
  width: 180px; /* Ajuste a largura conforme necessário */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente */
  border-right: 1px solid #ddd; /* Borda opcional para separação */
  position: fixed; /* Mantém o sidebar fixo ao rolar */
  height: 20%; /* Altura total da página */
  z-index: 2; /* Garante que o sidebar fique acima do conteúdo */
}

#sidebar .nav-link,
#sidebar .dropdown-item {
  color: white; /* Cor do texto para branco */
}

#sidebar .nav-link:hover,
#sidebar .dropdown-item:hover {
  color: white; /* Cor do texto ao passar o mouse */
  background-color: #495057; /* Cor de fundo ao passar o mouse */
}


.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="file"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

.categories-table {
    margin: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .btn {
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .btn-info {
    background-color: #007bff;
  }
  
  .btn-success {
    background-color: #28a745;
  }
  
  .content {
    margin-left: 220px; 
    padding: 15px;
  }

  .language-flag {
    width: 30px; 
    height: auto; 
  }

  .language-select {
    margin-right: 15px;
  }
