<div id="categories" class="categories-table">
  <h1>Lista de Categorias</h1>
  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.description %></td>
          <td>
            <%= link_to "Mostrar", category, class: "btn btn-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="actions">
    <%= link_to "Nova Categoria", new_category_path, class: "btn btn-success" %>
  </div>
</div>